body {
  background-color: #62a2c1;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.content-wrapper {
  height: 100vh;
}

header {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/ps-neutral.png');
}

h2 {
  font-size: 50px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  /* box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); */
}

.header-wrapper div {
  height: 120px;
}

.header-wrapper span {
  display: inline-block;
  font-weight: bold;
  font-size: 150px;
  color: rgba(255, 255, 255, 0.75);
  /* text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */

  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25);
}

.slide-out {
  width: 0px;
  overflow: hidden;
}

.slide-out:hover {
  width: auto;
  overflow: hidden;
}

.header-wrapper span:nth-child(3) {
  font-weight: 300;
}

.hero-wrapper {
  display: flex;
  background: url('../assets/hero.jpg') bottom center no-repeat;
  background-size: cover;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.65);
}

.header-wrapper {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.hero-arrow {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  position: absolute;
  bottom: 5px;
}

.hero-arrow img {
  height: 30px;
  opacity: 0.5;
}

.hero-subheader {
  font-size: 24px;
  font-weight: 300;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-header {
  margin: 0 0 40px 0;
  max-width: 500px;
  font-weight: 300;
  font-size: 35px;
  border-left: 1px dotted black;
  padding-left: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  justify-content: center;
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;

  /* border: 1px dotted rgba(0, 0, 0, 0.3); */
  border-radius: 50px;
  background: #55b9f3;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:hover {
}

.ted {
}

.ted-name {
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 5px;
}

.connect {
  color: white;
}

.left-quote {
  color: rgba(0, 0, 0, 0.2);
}

.right-quote {
  color: rgba(0, 0, 0, 0.2);
}

.bio {
  font-size: 16px;
}

.quote-attribution {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Embeddable__landing__poster {
  margin: 0 auto;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-image: url('https://www.transparenttextures.com/patterns/white-wall.png'); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin-bottom: 10px;
}

.gallery {
  background: rgba(255, 255, 255, 0.75);
  width: 80%;
  padding: 30px;
  box-shadow: 0 2px 2px -1.2px rgba(0, 0, 0, 0.2);
}

.tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tile {
  margin-bottom: 10px;
  width: 49%;
}

.gallery-image {
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(46, 46, 46);
  color: white;
}

.footer-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  text-align: center;
}

.footer-wrapper .left {
  border-right: 1px dotted white;
}

.footer-wrapper .left p {
  width: 80%;
  margin: 0 auto;
}
