body {
  background-color: #62a2c1;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.content-wrapper {
  height: 100vh;
}

header {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
}

h2 {
  font-size: 50px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.header-wrapper span {
  height: 50px;
  font-weight: bold;
  font-size: 60px;
}

.hero-wrapper {
  display: flex;
  background: url('../assets/hero.jpg') bottom center no-repeat;
  background-size: cover;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.65);
}

.hero-header {
  margin: 0 auto 40px auto;
  text-align: center;
  width: 90%;
  font-weight: 300;
  font-size: 35px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  justify-content: center;
}

.button {
  display: flex;
  width: 155px;
  text-align: center;
  justify-content: center;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 3px double rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.button:hover {
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
  border: 3px double rgba(255, 255, 255, 0.5);
}

.ted {
}

.ted-name {
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 5px;
}

.connect {
  background: #337ab7;
}

.left-quote {
  font-size: 45px;
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  /* left: 2px;
  top: -10px; */
}

.right-quote {
  font-size: 40px;
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  /* right: 2px;
  top: -20px; */
}

.bio {
  font-size: 18px;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/ps-neutral.png');
  /* background-image: url('https://www.transparenttextures.com/patterns/white-wall.png'); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.gallery {
  background: rgba(255, 255, 255, 0.75);
  width: 80%;
  padding: 30px;
}

.tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tile {
  margin-bottom: 10px;
}

.gallery-image {
  max-width: 400px;
}

footer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(46, 46, 46);
  color: white;
}

.footer-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  text-align: center;
}

.footer-wrapper .left {
  border-right: 1px dotted white;
}

.footer-wrapper .left p {
  width: 80%;
  margin: 0 auto;
}
